
fastapi==0.111.0
uvicorn[standard]==0.30.0
gunicorn==22.0.0
python-multipart==0.0.9
pydantic==2.7.4
pydantic-settings==2.3.0

sqlalchemy[msql]==2.0.31
asyncpg==0.29.0
alembic==1.13.2
psycopg2-binary==2.9.9

celery['redis']==5.4.0
celery==5.4.0
redis=5.0.6

prometheus-client==0.20.0
structlog==24.2.0

python-jose[cryptography]==3.3.0
passlib[crypt]==1.7.4
pyotp==2.9.0
python-dotenv==1.0.1

openai==1.35.0

httpx==0.27.0
aiofiles==23.2.1
tenacity==8.4.0
orjson==3.10.0

requests
numpy
pandas
PyJWT
email-validator
